<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Ubah Password</title>

  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>

</head>
<body>
<div class="container-fluid">
  <div class="alert" th:if=${pesanError}>
    <div th:text="${pesanError}" class="alert alert-danger" onclick="this.parentElement.style.display='none';"></div>
  </div>
  <div class="row" style="justify-content: center; text-align: center; margin: auto; padding: 2rem">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Ubah Password</div>
        <div class="card-body">
          <form th:action="@{/user/ubahPassword}" method="POST">
            <div class="form-row">
              <label>Password Lama</label>
              <input type="password" id="passwordLama" name="passwordLama" class="form-control"/>
            </div>
            <div class="form-row">
              <label>Password Baru</label>
              <input type="password" id="passwordBaru" name="passwordBaru" class="form-control" pattern="(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#$%^&*?]).{8,}" title="Password harus terdiri minimal 8 karakter dengan mengandung angka, huruf besar, huruf kecil, dan simbol"/>
            </div>
            <div class="form-row">
              <label>Konfirmasi Password Baru</label>
              <input type="password" id="konfirmasiPassword" name="konfirmasiPassword" class="form-control" pattern="(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#$%^&*?]).{8,}" title="Password harus terdiri minimal 8 karakter dengan mengandung angka, huruf besar, huruf kecil, dan simbol"/>
            </div>
            <div style="margin-top: 2rem">
              <button type="submit" class="btn btn-primary">Simpan</button>
              <a th:href="@{/}" class="btn btn-outline-primary">Kembali</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>